//container for the full sized page
.main-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-height: 80%;
    height: fit-content;
    float: left;

    @media (max-width: 1000px) {
        min-width: 100%;
        margin: 0px;
        min-height: 80px;
    }

    .filter-button {
        margin: 20px;
        text-align: center im !important;
        align-items: center;
        @media (min-width: 1000px) {
            display: none;
        }
    }

    .main-card {
        min-height: 80%;
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        @media (max-width: 1000px) {
            display: none;
        }
    }

    .datepicker {
        background-color: rgba(255,255,255,.1);
        font-weight: 500;
    }
}