.mat-table {
    width: 100%;
  }
  
  .available-status {
    background-color: #006600;
  }
  
  .requires-approval-status {
    background-color: rgb(152, 79, 241);
  }
  
  .unavailable-status {
    background-color: #FF8000;
  }
  
  .archived-status {
    background-color: red;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  
    .main-content {
        max-width: 1000px;
        min-width: 80%;
  
        .card-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            padding-top: 15px;
        }
    }
  }
  
  // mat chip classes are replicates so the chip does not have to be in chip list
  // this is necessary for mobile view
  .mat-standard-chip {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
  }
  
  .mat-chip {
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    font-weight: 500;
  }
  
  .mat-chip-ripple {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
    overflow: hidden;
  }
  
  .spinner-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: auto;
    flex-direction: column;
    margin-top: 20px;
    padding: 50px;
    width: 70%;
  }
  
  .empty-message {
    text-align: center; 
    margin-top: 10px;
    width: 100%;
  }
  
  @media screen and (max-width: 960px) {
    .mat-header-row {
      display: none;
    }

    .mat-table {
      border: 0;
      vertical-align: middle
    }
  
    .mat-table caption {
      font-size: 1em;
    }
    
    .mat-table .mat-header-cell {
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    .mat-table .mat-row {
      border-top: 5px solid rgba(255, 255, 255, 0.12);
      display: block;
      margin-bottom: -60px;
    }
  
    .mat-table .mat-cell {
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      display: block;
      font-size: 1em;
      text-align: right;
      height:30px;
      margin-bottom: 4%;
    }
    
    .mat-table .mat-cell:before {
      content: attr(data-label);
      float: left;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.7);
    }
  
    .mat-table .mat-cell {
      padding: 0%;
    }
    
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }

    .mat-table .mat-row:last-child {
      border-bottom: 0;
    }
    
    .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
  }