.empty-card {
    max-width: 80%;
    margin: auto;
  }
  
  .mat-standard-chip {    
    height: auto !important;
  }
  
  .loading-spinner{
    margin:auto;
    max-width: 40%;
    padding-top: 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    .main-content {
        flex: 1;
        max-width: 1000px;

        *{
            border:rgb(152, 79, 241) 1px solid;
        }
    }
}
    .main-container-reservations {
        display: flex;
        justify-content: center;
  
        .card-content {
            display:flex;
            flex-direction: column;
            width: 70%;
            margin-top: 20px;

            .ItemBox{
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            margin-top: 10px;

            @media (max-width: 500px) { 
            flex-direction: column;
            }

            .ItemBox-imgbox{
                .image-div {
                    max-width: 100px;
                    min-width: 100px;
                    padding-right: 30px;
                    margin: auto;
                    display:block;
                    padding-top: 17px;

                    img {
                    max-width: 100px;
                    max-height: 100px;
                    object-fit: contain;
                    vertical-align: bottom;
                    }
                }
            }

            .ItemBox-middle{
            padding-right: 20px;
            max-width: 600px;
            }

            .ItemBox-description{
            max-width: 600px;
            }
        }
    }
}