.empty-card {
    max-width: 80%;
    margin: auto;
  }
  
  .mat-standard-chip {    
    height: auto !important;
  }
  
  .loading-spinner{
    margin:auto;
    max-width: 40%;
    padding-top: 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    @media (max-width: 500px) { 
        margin-left: 0px;
        margin-right: 0px;
    }

    .main-content {
        flex: 1;
        max-width: 1000px;
    }
}
    .main-container-reservations {
        display: flex;
        justify-content: center;
        position: relative;

        @media (max-width: 500px) { 
            flex-direction: column;
            }
  
        mat-divider{
            bottom: 0;
        }
        
        .card-content {
            display:flex;
            width: 80%;
            margin-top: 20px;
            //background: hsla(0,0%,100%,.1);

            @media (max-width: 500px) { 
            flex-direction: column;
            width: 100%;
            }

            .itemBox-imgbox{
                .image-div {
                    max-width: 75px;
                    min-width: 75px;
                    padding-right: 30px;
                    margin: auto;
                    display:block;

                    img {
                    max-width: 75px;
                    max-height: 75px;
                    object-fit: contain;
                    vertical-align: bottom;
                    }
                }
            }

            .itemBox-middle{
                width: 100%;
                display: flex;
                flex-direction: row;

                .col{
                    width: 33%;
                    display: block;
                }

                @media (max-width: 500px) { 
                    flex-direction: column;

                    .col{
                        width: 100%;
      
                    }
                }
            }
        }
        .card-actions{
            display: flex;
            flex-direction: row;
            min-width: 20%;
            margin: 0;
            margin-top: 20px;
            padding: 0px;
            
            @media (max-width: 500px) { 
                flex-direction: column;
                width: 100%;
                margin-bottom: 16px;
                margin-top: 0;
            }
        }
    }