<div class="container">
    <mat-card class="main-content">
        <mat-card-header>
            <mat-card-title name="reservation-title">
                {{ 'RESERVATION.ACTION.TITLE' | translate }}
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <div *ngFor="let reservation of reservations" class="main-container-reservations">
            <mat-divider></mat-divider>
            <mat-card-content class="card-content">
                <div class="ItemBox-imgbox">
                    <img *ngIf="reservation.product.image?.length; else elseImageBlock" class="image-div"
                        src="data:image/png;base64,{{reservation.product.image}}" #previewimage
                        id="image-{{reservation.id}}">
                    <ng-template #elseImageBlock>
                        <img class="image-div" src="/assets/images/image-not-found.jpg">
                    </ng-template>
                </div>
                <div class="ItemBox-middle">
                    <div class="ItemBox-description">
                        {{reservation.product.name}}
                    </div>
                    {{reservation.product}}
                    {{reservation.startDate | date}} / {{reservation.endDate | date}}
                    {{reservation.returnDate | date}}
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button class="green" style="float:right;" (click)="CancelReservation()"
                    *ngIf="!isLoading" name="cancel-reservation-button">
                    {{ 'RESERVATION.ACTION.CANCEL' | translate }}
                </button>
                <button mat-stroked-button class="green" style="float:right;" (click)="CancelReservation()"
                    *ngIf="!isLoading" name="return-reservation-button">
                    {{ 'RESERVATION.ACTION.RETURN' | translate }}
                </button>
                <button mat-stroked-button class="green" style="float:right;" (click)="CancelReservation()"
                    *ngIf="!isLoading" name="out-reservation-button">
                    {{ 'RESERVATION.ACTION.OUT' | translate }}
                </button>
                <mat-spinner *ngIf="isLoading" diameter="35" style="margin:auto; padding-bottom: 10px;"
                    name="reservation-loading-spinner"></mat-spinner>
            </mat-card-actions>
        </div>
    </mat-card>
</div>