table {
  width: 100%;
}

.available-status {
  background-color: #006600;
}

.requires-approval-status {
  background-color: rgb(152, 79, 241);
}

.unavailable-status {
  background-color: #FF8000;
}

.archived-status {
  background-color: red;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  .main-content {
      max-width: 1000px;

      .card-content {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          padding-top: 15px;
      }
  }
}