table {
  width: 100%;
}

.available-status {
  background-color: rgb(8, 148, 17);
}

.awaits-approval-status {
  background-color: rgb(32, 165, 161);
}

.reserved-status {
  background-color: rgb(187, 134, 252);
}

.unavailable-status {
  background-color: rgb(255, 162, 0);
}