table {
  width: 100%;
}

.available-status {
  background-color: rgb(8, 148, 17);
}

.awaits-approval-status {
  background-color: rgb(29, 141, 137);
}

.reserved-status {
  background-color: rgb(152, 79, 241);
}

.lent-status {
  background-color: rgb(160, 46, 103);
}

.unavailable-status {
  background-color: rgb(255, 162, 0);
}