<div class="container">
    <mat-card class="main-content">
        <mat-card-header>
            <mat-card-title name="cart-title">
                {{ 'CART.TITLE' | translate }}
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="card-content">
            <div *ngFor="let cartItem of cartItems">
                <app-product-datepicker [productId]="cartItem.id" [startDate]="cartItem.startDate"
                    [endDate]="cartItem.endDate"></app-product-datepicker>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-stroked-button class="green" style="float:right;" (click)="onClickAddProduct()"
                *ngIf="!isLoading" name="save-product-button">
                {{ 'PRODUCT.ADD.SAVE' | translate }}
            </button>
            <mat-spinner *ngIf="isLoading" diameter="35" style="margin:auto; padding-bottom: 10px;"
                name="save-product-loading-spinner"></mat-spinner> -->
        </mat-card-actions>
    </mat-card>
</div>
