<div class="container">
    <mat-card class="main-content">
        <mat-card-header>
            <mat-card-title name="cart-title">
                {{ 'CART.TITLE' | translate }}
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div *ngIf="!isLoading">
                <!-- Loop with all the cart products  -->
                <div *ngFor="let cartProduct of cartProducts">
                    <div class="product-list" name="product-list"
                        *ngIf="receivedFlatProduct(cartProduct.id) && cartProduct.id != 3">
                        <div class="product-list-info-item product-image">
                            <img [src]="'data:image/png;base64,' + getFlatProductById(cartProduct.id).image" alt="">
                        </div>
                        <div class="product-list-info-item product-text">
                            <h2 style="margin-bottom:unset;">{{ getFlatProductById(cartProduct.id).name }}</h2>
                            <p>{{ getFlatProductById(cartProduct.id).description }}</p>
                        </div>
                        <div class="product-list-info-item product-datepicker">
                            <app-product-datepicker [productId]="cartProduct.id" [startDate]="cartProduct.startDate"
                                [endDate]="cartProduct.endDate"></app-product-datepicker>
                            <button mat-stroked-button color="primary" style="width: 70%; float:left;">
                                <mat-icon>delete</mat-icon> Delete entry
                            </button>
                            <button mat-stroked-button style="margin-left: 10px;float:right;"
                                *ngIf="cartProduct.id === 1">
                                Info
                            </button>
                        </div>
                    </div>

                    <!-- Loading fake animation  -->
                    <div *ngIf="!receivedFlatProduct(cartProduct.id) || cartProduct.id == 3 "
                        class="loading-item-background product-list">
                        <div class="product-list-info-item product-image fake-product-image-container">
                            <div class="fake-product-image-content"></div>
                        </div>
                        <div class="product-list-info-item product-text">
                            <h2> {{ 'CART.LOADING_PRODUCT' | translate }} </h2>
                        </div>
                        <div class="product-list-info-item product-datepicker">
                            <div class="fake-product-datepicker"></div>
                            <div class="fake-product-remove-button"></div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                <button mat-stroked-button style="width: 100%; margin-top: 20px;" color="accent">Save</button>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-stroked-button class="green" style="float:right;" (click)="onClickAddProduct()"
                *ngIf="!isLoading" name="save-product-button">
                {{ 'PRODUCT.ADD.SAVE' | translate }}
            </button>
            <mat-spinner *ngIf="isLoading" diameter="35" style="margin:auto; padding-bottom: 10px;"
                name="save-product-loading-spinner"></mat-spinner> -->
        </mat-card-actions>
    </mat-card>
</div>
