<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ 'PRODUCT.ARCHIVE.DIALOG_TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ 'PRODUCT.ARCHIVE.DIALOG_MESSAGE' | translate }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{ 'PRODUCT.ARCHIVE.DIALOG_ARCHIVE_BUTTON' | translate }}</button>
      <button mat-button>{{ 'PRODUCT.ARCHIVE.DIALOG_CANCEL_BUTTON' | translate }}</button>
    </mat-card-actions>
  </mat-card>
  