<div class="container">
    <mat-card class="main-content">
        <mat-card-header>
            <mat-card-title>
                {{ 'PRODUCT.ADD.TITLE' | translate }}
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="card-content">
            <div class="card-left">
                <mat-form-field appearance="fill" class="input-field-full-width">
                    <mat-label>{{ 'PRODUCT.ADD.NAME' | translate }}</mat-label>
                    <input matInput [(ngModel)]="product.name">
                </mat-form-field>
                <mat-form-field appearance="fill" class="input-field-full-width">
                    <mat-label>{{ 'PRODUCT.ADD.CATALOG_NUMBER' | translate }}</mat-label>
                    <input matInput type="number" [(ngModel)]="product.catalogNumber">
                </mat-form-field>
                <mat-form-field appearance="fill" class="input-field-full-width">
                    <mat-label>{{ 'PRODUCT.ADD.CATEGORY' | translate }}</mat-label>
                    <mat-select [(ngModel)]="product.categoryId">
                        <mat-option value="option">Optie 1</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="input-field-full-width">
                    <mat-label>{{ 'PRODUCT.ADD.LOCATION' | translate }}</mat-label>
                    <input matInput [(ngModel)]="product.location">
                </mat-form-field>
            </div>
            <div class="card-middle">
                <mat-form-field appearance="fill" class="input-field-full-width">
                    <mat-label>{{ 'PRODUCT.ADD.DESCRIPTION' | translate }}</mat-label>
                    <textarea matInput style="height: 226px;" [(ngModel)]="product.description"></textarea>
                </mat-form-field>
            </div>
            <div class="card-right">
                <img src="aap.png" alt="" width="200vh" height="200vh" id="imagePreview"><br>
                <div *ngIf='removingImageIndex === null'>
                    <button mat-icon-button [title]="'PRODUCT.ADD.LEFT' | translate" color="accent"
                        (click)="onClickPreviousImage()">
                        <mat-icon>arrow_left</mat-icon>
                    </button>
                    {{ selectedImageIndex }} / {{ product.images?.length }}
                    <button mat-icon-button [title]="'PRODUCT.ADD.RIGHT' | translate" color="accent"
                        (click)="onClickNextImage()">
                        <mat-icon>arrow_right</mat-icon>
                    </button>
                    |
                    <input id="fileInput" type="file" (change)="onFileChanged($event)"
                        accept="image/x-png,image/gif,image/jpeg" hidden='true' multiple>
                    <button mat-icon-button [title]="'PRODUCT.ADD.ADD_IMAGE' | translate" color="accent"
                        (click)="onClickAddImage()">
                        <mat-icon>insert_photo</mat-icon>
                    </button>
                    <button mat-icon-button [title]="'PRODUCT.ADD.REMOVE_IMAGE' | translate" color="accent"
                        (click)="removingImageIndex = selectedImageIndex">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <br>
                </div>
                <div *ngIf='removingImageIndex !== null' style="margin-bottom: 4px;">
                    <button mat-raised-button color='warn'>
                        <mat-icon>delete</mat-icon>
                        {{ 'PRODUCT.ADD.REMOVE_IMAGE' | translate }}
                    </button>
                    <button mat-raised-button (click)='removingImageIndex = null'>
                        {{ 'PRODUCT.ADD.CANCEL' | translate }}
                    </button>
                </div>


                <mat-checkbox class="approval-checkbox" [(ngModel)]="product.requiresApproval">
                    {{ 'PRODUCT.ADD.REQUIRES_APPROVAL' | translate }}
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button class="green" style="float:right;">
                {{ 'PRODUCT.ADD.SAVE' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
</div>
